/* Search */
.search-form {
  position: static;
  transform: none;
  margin: 0px auto;
}

.search-form__group:first-child {
  flex: 1.5;
}

.search-form__group {
  flex: 1;
}

/* Hotel Listing */
.hotel-listing {
  max-width: 1232px;
  display: grid;
  grid-template-columns: 2.8fr 0.4fr 6.8fr;
  margin: 32px auto;
}

.hotel-listing__filters {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.filters__title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
}

.filters-group__name {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2;
}

.filters-group__icon {
  cursor: pointer;
}

.filters-group__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.price-slider {
  position: relative;
  width: 100%;
  height: 50px; /* Dành khoảng trống cho chữ số bên dưới */
}

/* Thanh xám nền */
.slider-track {
  position: absolute;
  top: 13px;
  left: 5px;
  width: 95%;
  height: 2px;
  background-color: #ddd;
  border-radius: 4px;
}

/* Thanh màu xanh nối 2 cục tròn */
.slider-fill {
  position: absolute;
  top: 13px;
  height: 2px;
  background-color: var(--blackish-green-color); /* Thay bằng màu xanh của bạn */
  border-radius: 4px;
  /* Thuộc tính left và width sẽ do Javascript điều khiển */
}

/* Chỉnh 2 thẻ input */
.slider-input {
  position: absolute;
  top: 1px;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  pointer-events: none; /* Cho phép click xuyên qua */
  margin: 0;
}

/* Tạo hình cục tròn */
.slider-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: auto;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--mint-green-color);
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.slider-labels {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 35px;
  width: 100%;
}

/* Chữ số chạy theo cục tròn */
.slider-label {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2;
}

.filters__separator,
.hotel-listing__separator,
.hotel-card__separator,
.hotel-detail__separator {
  width: 100%;
  height: 0.5px;
  background-color: var(--blackish-green-color);
  opacity: 25%;
}

.hotel-listing__separator {
  width: 0.5px;
  height: 100%;
  margin: 0px auto;
}

.rating-box__input,
.favorite-checkbox {
  display: none;
}

.rating-box__label,
.hotel-card__actions-favorite {
  display: inline-block;
  cursor: pointer;
  border: 1px solid var(--mint-green-color);
  border-radius: 4px;
  color: var(--blackish-green-color);
  font-size: 1.2rem;
  font-weight: 500;
  padding: 8px 16px;
  transition: all 0.2s ease;
  margin-right: 16px;
}

.rating-box__label:hover {
  background-color: rgba(141, 211, 187, 0.2);
}

.rating-box__input:checked + .rating-box__label {
  background-color: var(--mint-green-color);
  color: white;
}

.filters-group__freebies,
.filters-group__amenities {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

.freebies-box,
.amenities-box {
  display: flex;
  align-items: center;
}

.freebies-box__input,
.amenities-box__input {
  width: 18px;
  height: 18px;
  border: 2px solid var(--blackish-green-color);
  border-radius: 3px;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  transition: all ease 0.1s;
}

.freebies-box__input:checked,
.amenities-box__input:checked {
  border-color: var(--mint-green-color);
  background-image: url(../image/check_success.svg);
  background-size: 20px 20px;
  background-position: center;
  background-color: var(--mint-green-color);
  transition: all ease 0.1s;
}

.freebies-box__label,
.amenities-box__label {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
  color: var(--blackish-green-color);
  margin: 1px 0px 0px 8px;
}

.amenities-filters__expand {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--slamon-color);
  cursor: pointer;
}

/* Hotel listing content */
.hotel-listing__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 32px;
}

.hotel-listing__tabs {
  display: grid;
  position: relative;
  padding: 16px 0px;
  background-color: var(--white-color);
  border-radius: 12px;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0px 4px 16px 0 rgba(17, 34, 17, 0.05);
}

.hotel-listing__tab {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 24px;
  width: 100%;
  gap: 8px;
}

.hotel-listing__tab:nth-child(2) {
  border-left: 2px solid rgba(215, 226, 238, 1);
  border-right: 2px solid rgba(215, 226, 238, 1);
}

.hotel-listing__tab-heading {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  margin: 0;
  color: var(--blackish-green-color);
}

.hotel-listing__tab-desc {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
  color: var(--blackish-green-color);
  opacity: 0.4;
}

.slide-indicator {
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 4px;
  background-color: var(--mint-green-color);
  border-radius: 4px;
  transition: transform 0.3s ease-out;
}

.hotel-listing__control {
  display: flex;
  justify-content: space-between;
}

.hotel-listing__showing {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
}

.highlight {
  color: var(--slamon-color);
}

/* Sort */
.sort-dropdown {
  display: flex;
  align-items: center;
  gap: 6px;
}

.sort-dropdown__label {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--blackish-green-color);
}

.sort-dropdown__container {
  position: relative;
}

.sort-dropdown__trigger {
  display: flex;
  align-items: center;
  gap: 4px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--blackish-green-color);
}

.sort-dropdown__icon {
  width: 18px;
  transition: transform 0.2s ease;
}

.sort-dropdown__options {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  background-color: var(--white-color);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 8px 0;
  margin: 0;
  min-width: 180px;
  z-index: 100;

  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.2s ease;
}

.sort-dropdown.is-open .sort-dropdown__options {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.sort-dropdown.is-open .sort-dropdown__icon {
  transform: rotate(180deg);
}

.sort-dropdown__option {
  padding: 10px 16px;
  cursor: pointer;
  font-size: 1.4rem;
  color: var(--blackish-green-color);
  transition: background-color 0.2s;
}

.sort-dropdown__option:hover {
  background-color: #f4f4f4;
}

.sort-dropdown__option.sort-dropdown__option--active {
  color: var(--mint-green-color);
  font-weight: 600;
}

/* Hotel card */
.hotel-listing__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.hotel-card {
  display: flex;
  border-radius: 12px;
  background-color: var(--white-color);
}

.hotel-card__img-wrap {
  position: relative;
  max-width: 300px;
}

.hotel-card__img {
  border-radius: 12px 0px 0px 12px;
}

.hotel-card__img-wrap::before {
  content: "9 images";
  width: 72px;
  height: 32px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1;
  padding: 4px 8px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.hotel-card__body {
  display: flex;
  width: 100%;
  flex-direction: column;

  justify-content: space-between;
  padding: 24px;
  gap: 24px;
}

.hotel-card__info {
  display: flex;
  justify-content: space-between;
}

.hotel-card__detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.hotel-card__desc {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.hotel-card__name {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}

.hotel-card__location {
  display: flex;
  align-items: center;
}

.hotel-card__location-text {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1;
  opacity: 0.75;
}

.hotel-card__img {
  max-width: 300px;
}

.hotel-card__features {
  display: flex;
  align-items: center;
  gap: 32px;
}

.hotel-card__stars,
.hotel-card__amenities {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1;
}

.hotel-card__stars-text {
  padding: 3px 0px 0px 4px;
}

.hotel-card__amenities-text {
  padding: 0px 0px 1px 4px;
}

.hotel-card__rating {
  display: flex;
  align-items: center;
  gap: 4px;
}

.hotel-card__rating-box.rating-box__label {
  cursor: default;
  margin: 0;
  background-color: var(--white-color);
}

.hotel-card__rating-text {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1;
}

.hotel-card__price .price-tax {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 3px;
}

.price-label,
.price-tax {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1;
  opacity: 0.75;
}

.price-value {
  display: flex;
  align-items: baseline;
  color: var(--slamon-color);
}

.price-amount {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1;
}

.price-unit {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
}

.hotel-card__actions {
  display: flex;
  gap: 16px;
}

.hotel-card__actions-favorite {
  padding: 0;
  margin-right: 0;
  width: 48px;
  height: 48px;

  flex-shrink: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.favorite-checkbox:checked + .hotel-card__actions-favorite .favorite-icon {
  background-image: url(../image/heart_light.svg);
}

.hotel-card__actions-favorite:hover {
  background-color: rgba(141, 211, 187, 0.2);
}

.favorite-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../image/heart_dark.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.2s ease;
}

.favorite-checkbox:checked + .favorite-icon {
  background-image: url(../image/heart_light.svg);
}

.hotel-card__actions-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
  padding: 8px 16px;
  background-color: var(--mint-green-color);
  border-radius: 4px;
}

.hotel-card__actions-btn:hover {
}

.hotel-listing__btn {
  grid-column: 3;
  margin-top: 32px;

  background-color: var(--blackish-green-color);
  color: var(--white-color);
  width: 100%;
  padding: 16px 0;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.hotel-listing__btn:hover {
  opacity: 0.9;
}
