.main-content {
  display: flex;
  flex-direction: column;
  max-width: 1232px;
  margin: 0px auto;
}

.breadcrumb__item.breadcrumb__item--active {
  opacity: 0.4;
}

.breadcrumb__link {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--blackish-green-color);
}

.booking-card {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 32px 0px 64px 0px;
}

.booking-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.booking-card__info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.booking-card__title {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1;
}

.booking-card__actions {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 16px;
}

.booking-card__price {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1;
  color: var(--slamon-color);
  justify-self: end;
  grid-column: span 2;
}

.ticket {
  display: flex;
  max-height: 310px;
}

.ticket__left {
  display: flex;
  flex: 1;
  border-radius: 16px;
  /* cắt bỏ phần dư */
  overflow: hidden;
  border: 1px solid #eaeaea;
}

.ticket__sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  background-color: var(--mint-cream-color);
  gap: 16px;
}

.ticket__data-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.ticket__logo {
  max-width: 160px;
}

.ticket__date {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1;
}

.ticket__label {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1;
  opacity: 0.6;
}

.ticket__main {
  position: relative;
  border-radius: 0px 16px 16px 0px;
  background-color: var(--white-color);
  flex: 1;
}

.ticket__guest-banner {
  display: flex;
  justify-content: space-between;
  background-color: var(--mint-green-color);
  padding: 24px;
  align-items: center;
}

.ticket__user {
  display: flex;
  align-items: center;
  gap: 16px;
}

.ticket__avatar {
  border: 1px solid var(--white-color);
  border-radius: 50%;
}

.ticket__name {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
}

.ticket__room-info {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  text-align: end;
}

.ticket__details {
  display: flex;
  gap: 32px;
  padding: 24px;
}

.ticket__detail-item {
  display: flex;
  gap: 8px;
}

.ticket__detail-text {
  display: flex;
  flex-direction: column;
}

.ticket__detail-label {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1;
  opacity: 0.6;
}

.ticket__detail-value {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
}

.ticket__reference {
  position: absolute;
  bottom: 10%;
  left: 4%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.ticket__flight-code {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1;
}

.ticket__booking-id {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1;
  opacity: 0.6;
}

.ticket__barcode {
  position: absolute;
  right: 0;
  bottom: 0;
}
.ticket__aside {
  padding: 74px 106px;
  background-color: var(--white-color);
  border: 1px solid #eaeaea;
  border-radius: 16px;
}

.terms {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.terms__title {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1;
}

.terms__subtitle {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 16px;
}

.terms__list {
  display: flex;
  list-style: none;
  flex-direction: column;
  gap: 16px;
}

.terms__item {
  position: relative;
  padding-left: 8px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 20px;
}

.terms__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 2px;
  height: 2px;
  background-color: currentColor;
  border-radius: 50%;
}

.terms__content {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 20px;
}
