.hotel-detail__intro {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  max-width: 1232px;
  gap: 32px;
}

.breadcrumb__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 8px;
}

.breadcrumb__item {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 500;
}

.breadcrumb__item:not(:last-child)::after {
  margin-left: 8px;
  content: url(../image/chevron_forward.svg);
  transform: translateY(2px);
}

.breadcrumb__link {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--slamon-color);
}

.detail-header {
  display: flex;
  justify-content: space-between;
}

.detail-header__info,
.detail-header__actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.detail-header__title-group {
  display: flex;
  gap: 16px;
}

.price-value {
  justify-content: flex-end;
}

.price-amount {
  font-size: 3.2rem;
}

.detail-buttons {
  display: flex;
  gap: 15px;
}

.hotel-card__actions-btn {
  width: 150px;
}
