.hotel-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1232px;
  gap: 64px;
  margin: 0px auto;
}

.hotel-detail__intro {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.breadcrumb__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 8px;
}

.breadcrumb__item {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 500;
}

.breadcrumb__item:not(:last-child)::after {
  margin-left: 8px;
  content: url(../image/chevron-forward.svg);
  transform: translateY(2px);
}

.breadcrumb__link {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--slamon-color);
}

.detail-header {
  display: flex;
  justify-content: space-between;
}

.detail-header__info,
.detail-header__actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.detail-header__title-group {
  display: flex;
  gap: 16px;
}

.price-value {
  justify-content: flex-end;
}

.price-amount {
  font-size: 3.2rem;
}

.detail-buttons {
  display: flex;
  gap: 15px;
}

.detail-buttons .hotel-card__actions-btn {
  width: 150px;
}

.detail-gallery {
  display: grid;
  grid-template-columns: 5fr 3fr 3fr;
  grid-template-rows: repeat(2, 271px);
  border-radius: 12px;
  gap: 8px;
}

.detail-gallery__main {
  grid-row: span 2;
}

.overview__heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 16px;
}

.overview__desc {
  font-size: 1.4rem;
  font-weight: 500;
}

.overview__feature-list {
  display: flex;
  margin-top: 32px;
  gap: 16px;
}

.overview__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 64px 16px 16px;
  width: 165px;
  border: 1px solid var(--mint-green-color);
  border-radius: 12px;
  gap: 32px;
}

.overview__rating {
  background-color: var(--mint-green-color);
  border: none;
}

.overview__rating-heading {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1;
}

.overview__rating-response {
  font-size: 1.6rem;
  font-weight: 700;
}

.overview__chip-icon {
  width: 32px;
}

/* HOTEL DETAIL: ROOMS */
.hotel-detail__rooms {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.hotel-detail__rooms-heading {
  font-size: 2rem;
  font-weight: 700;
}

.hotel-detail__rooms-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  gap: 16px;
}

.hotel-detail__room-list .hotel-detail__separator {
  height: 0.5px;
}

.hotel-detail__room {
  display: flex;
  justify-content: space-between;
}

.hotel-detail__room-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.hotel-detail__room-img {
  border-radius: 4px;
  max-width: 48px;
}

.hotel-detail__room-type {
  font-size: 1.6rem;
  font-weight: 500;
}

.hotel-detail__room-right {
  display: flex;
  align-items: center;
  gap: 64px;
}

.hotel-detail__room-price {
  display: flex;
  align-items: baseline;
}

.hotel-detail__price-amount {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1;
}

.hotel-detail__price-unit {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
}

.hotel-detail__room-right .hotel-card__actions-btn {
  width: 150px;
  height: 48px;
}

/* HOTEL DETAIL: LOCATION */
.hotel-detail__location {
}

.hotel-detail__location-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.hotel-detail__location-heading {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
}

.hotel-detail__location-header .hotel-card__actions-btn {
  max-width: 190px;
  height: 48px;
}

/* HOTEL DETAIL: AMENITIES */
.hotel-detail__amenities-heading {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 32px;
}

.hotel-detail__amenities-list {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(5, auto);
  grid-template-columns: max-content max-content;
  gap: 24px 300px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.hotel-detail__item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.hotel-detail__item-text {
  font-size: 1.6rem;
  font-weight: 500;
  padding-top: 2px;
}

/* HOTEL DETAIL: FEEDBACK */
.hotel-detail__feedback {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hotel-detail__feedback-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hotel-detail__feedback-heading {
  font-size: 2rem;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.hotel-detail__feedback .hotel-card__actions-btn {
  max-width: 152px;
  height: 48px;
}

.hotel-detail__overview {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  gap: 3px 16px;
}

.hotel-detail__overview-score {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
  grid-row: span 2;
}

.hotel-detail__overview-label {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
}

.hotel-detail__overview-count {
  font-size: 1.4rem;
  font-weight: 400;
}

.hotel-detail__overview .hotel-detail__separator {
  height: 0.5px;
}

.hotel-detail__feedback-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 24px;
}

.hotel-detail__feedback-item {
  display: grid;
  grid-auto-flow: column;

  grid-template-columns: 1fr 30fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  column-gap: 16px;
}

.hotel-detail__feedback-avt {
  grid-row: span 2;
}

.hotel-detail__feedback-action {
  grid-row: span 2;
}

.hotel-detail__feedback-list .user-action__item {
  font-weight: 400;
}

.hotel-detail__feedback-item-header {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
}

.hotel-detail__feedback-rating {
  font-weight: 600;
}

.hotel-detail__feedback-item-text {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
  align-self: end;
}

.hotel-detail__feedback-action {
  justify-self: end;
  max-width: 20px;
  max-height: 20px;
}

.hotel-detail__feedback-pages {
  display: flex;
  margin: 0px auto;
  gap: 24px;
}

.hotel-detail__feedback-num {
  align-self: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
}
